<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zongze.dao.MqMessageMapper">

    <insert id="addMessage" parameterType="com.zongze.entity.MqMessage" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into mq_message
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="id != null and id != ''">,id</if>
            <if test="messageBody != null and messageBody != ''">,message_body</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="id != null and id != ''">#{id}</if>
            <if test="messageBody != null and messageBody != ''">,#{messageBody}</if>
        </trim>
    </insert>

    <update id="consumerMessage" parameterType="com.zongze.entity.MqMessage">
        update mq_message
        <set>
            <trim prefixOverrides=",">
                <if test="messageStatus != null and messageStatus != ''">,message_status = #{messageStatus}</if>
            </trim>
            where id = #{id}
        </set>
    </update>

    <delete id="removeMessage" parameterType="java.lang.String">
        delete from mq_message where id = #{id}
    </delete>

    <select id="findMessage" resultType="com.zongze.entity.MqMessage" parameterType="java.lang.String">
        select id,message_body as messageBody,message_status as messageStatus from mq_message where id =#{id}
    </select>


</mapper>