<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zongze.dao.OrderMapper">

    <insert id="orderAdd" parameterType="com.zongze.common.entity.model.Order" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into `order`
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="id != null and id != ''">id</if>
            <if test="orderName != null and orderName != ''">,order_name</if>
            <if test="orderPrice > 0">,order_price</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="id != null and id != ''">#{id}</if>
            <if test="orderName != null and orderName != ''">,#{orderName}</if>
            <if test="orderPrice > 0">,#{orderPrice}</if>
        </trim>
    </insert>

    <select id="orderFind" parameterType="java.lang.String" resultType="com.zongze.common.entity.model.Order">
        select id,order_name as orderName,order_price as orderPrice from `order` where id=#{id}
    </select>

</mapper>